In [ ]:
import mysql.connector
from datetime import datetime

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
    database = "pyf205r1"
)

mycursor = mydb.cursor()

# print(type(mycursor))

sql = "### mã SQL"

def them_chi_tieu(noi_dung, tien):
    ngay_gio = datetime.now().strftime("%Y/%m/%d, %H:%M:%S")
    sql = "INSERT INTO chi_tieu (noi_dung, so_tien, ngay_gio) VALUES (%s, %s, %s)"
    val = ("Ăn sáng", "35000", ngay_gio)
    mycursor.execute(sql, val)
    mydb.commit()
    
while True:
    noi_dung = input("Nhập vào nội dung chi tiêu: ")
    tien = int(input("Nhập vào tiền chi tiêu: "))
    them_chi_tieu(noi_dung, tien)

# print(mydb)

Nhập vào nội dung chi tiêu: Đổ xăng
Nhập vào tiền chi tiêu100000
Nhập vào nội dung chi tiêu: Ăn sáng
Nhập vào tiền chi tiêu35000